name: CI

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    strategy:
      matrix:
        go:
          - '1.24.x'
          - '1.25.x'

    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install Go ${{ matrix.go }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
          cache-dependency-path: '**/go.sum'
      - name: Download dependencies
        run: make download
      - name: Build
        run: make build
      - name: Test
        run: make test
      - name: Benchmark
        run: make bench
